body {
    margin-top: 1em;
}

.splash-card {
    margin-top: 2rem;
}

.choice {
    font-size: 1.3rem;
    display: inline-block;
    margin: 0.5rem;
    padding: 0.5rem;
}

.choice-chosen {
    font-size: 1.5rem;
    display: block;
}

.choice-backup {
    font-size: 0.8rem;
    display: block;
}
